@import "tailwindcss";

@theme {
  --color-clifford: #da373d;
  --animate-slide-up: slideUp 0.3s ease-out forwards;
  --animate-fade-in: fadeIn 0.2s ease-out forwards;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased selection:bg-emerald-500 selection:text-white;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/80 backdrop-blur-md border border-white/40 shadow-xl;
  }

  .glass-dark {
    @apply bg-slate-900/90 backdrop-blur-md border border-slate-800/50 shadow-2xl;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}